<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Parent</title>
</head>
<body>
  <h1>Bienvenue chers parents !</h1>

  <h2>Entrer l'ID de votre enfant</h2>
  <input type="text" id="inputIdEnfant" placeholder="Exemple : ENFANT001">
  <button id="btnValiderId">Valider</button>

  <h2>Liste des enfants</h2>
  <ul id="listeEnfants"></ul>

  <hr />

  <h2>Messages reçus</h2>
  <div id="messages" style="border:1px solid #ccc; padding:10px; height:150px; overflow-y:auto;"></div>

  <h2>Envoyer un message</h2>
  <textarea id="inputMessage" placeholder="Écrire un message..."></textarea><br/>
  <button id="btnEnvoyerMessage">Envoyer</button>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/static/js/main_parent.js"></script>
</body>
</html>

